*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: karam;
    src: url(../font/ARLRDBD_0.woff);
}

body{
    font-family: "Barlow", sans-serif;
}

nav{
    background-color: #00833E;
    color: yellow;
}

.nav-link{
    color: aliceblue;
    
}

.active{
    color: #FFAB08;
}

.nav-link:hover{
    color: #FFAB08;
}

.icon-link{
    text-decoration: none;
    color: aliceblue;
}

.icon-link :hover{
    color: #FFAB08;
    transition: ease-in;
}

.logo-bar{
    /* border: 3px solid red; */
    width: 30%;
    display: flex !important;
    align-items: center;

    

}

.logo-bar img{
    width: 25%;
}

.logo-name{
    color: aliceblue;
    font-family: karam;
    margin-top: 10px;
}
/* banner section */

.banner{
    background-color: #f4eeeb;
    padding: 1rem;
    
    
   
}
.hero{
    /* border: 5px solid blue; */
    align-items: center;
    padding: 2rem 0rem;
}

.banner-heading{
    color: #F3A020;
    font-weight: 700;
    font-size: 3rem;
}

.banner-text{
    color: #507327;
}

button{
    color: #F5EFEC;
    background-color: #F3A020;
}

.right-side img{
    text-align: center;
}
.right-side{
    text-align: center;
}


/* sectiions */

/* .ONLY-FRESH-FRUIT{
    background-image: url(../image/2nd-karam-sections.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 20rem;
    padding-bottom: 25rem;

   
    width: 100%;
} */

.second-btn{
    padding: 1rem 7rem;
}

.only-img{
    width: 90%;
}

.icon-box{
    width: 60px;
    background-color: #CBDA02;
    height: 60px;
    border-radius: 1rem;
}

.box-main{
    width: 500px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 1.5rem;
   margin: auto;
  
   font-weight: 700;
   font-size: 22px;
   box-shadow: 2px 2px 5px 5px #88888825;
   color: #676767;
}

.fresh{
    width: 220px;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 5px #88888825;
    height: 50px;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #676767;
    font-weight: 600;
}

.sub-main{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;

}

.fresh-box{
    width: 40px;
    height: 40px;
    /* background-color: red; */
    border-radius: 0.5rem;
    
    background-color: #CBDA02;
   
}

.icon-img{
    width: 80%;
    margin-top: 6px;

}

.icon-box img{
    width: 90%;
    
}

/* section price tag */
.price-tag{
    margin-top: 6rem;
    margin-bottom: 6rem;
    position: relative;
    
    
}

.first-price-wrap{
    width: 330px;
    background-color: rgb(255, 255, 255);
    height: 410px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.207);
    border-radius: 1.5rem;

}

.bottal{
    /* position: absolute; */
    transform: translateY(-15%) rotate(10deg);
    
}

.price-btn-wrap{
 
    /* margin-top: 5rem; */
    margin-bottom: -9rem;
    text-align: center;
   
    transform: translateY(-150%);
 
}

.price-btn-wrap-2{
    margin-bottom: -2rem;
    display: flex;
    gap: 3px;
    
}

.second-price-tag{
    margin-top: 7rem;
}

/* section dailvery-sections */


.step-wrap{
    width: 150px;
    height: 150px;
    background-color: #FFAB08;
    border-radius: 8rem;
    font-size: 4rem;
    font-weight: 700;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.dailvaery-wrap h3{
  text-align: center;
    font-weight: 600;
    margin-top: 1.5rem;

}

.dailvaery-wrap h5{
    
    font-weight: 600;
}

/* section req */

.request{
    background-color: #c3c3c36b;
    margin-top: 3rem;
    padding-bottom: 4rem;
}



.dealtils input{
    
width: 70%;
border-radius: 1.5rem;
outline: transparent;
border: transparent;
text-overflow: unset;
margin-top: 0.5rem;
padding: 1rem 0.5rem;
padding-left: 1rem;

}

.dealtils :focus-within{
    outline: #F3A020 solid 2px;
}

.request-heading{
    margin-top: 5rem;
}

.request-img{
    width: 500px;
    height: 500px;
    background-color: #F3A020;
  
  
    border-radius: 2rem;
    background-image: url(../webp/freush-sections.webp);
    background-position: center;
    background-size: cover;
    
}

/* section fresh */

.Fresh-Fusion{
    background-color: #78a966;
    padding-bottom: 4rem;
    background-image: url(../webp/fu-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.Fresh-img{
    /* background-image: url(../image/top-view-red-liquid-background\ 1.png); */
    mix-blend-mode: darken;
}



.Fresh-Fusion h1{
    font-family: karam;
    font-size: 70px;
    margin-top: 2.5rem;
}

.fresh-btn{
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    display: flex;
}

.Fresh-Fusion img{
    width: 28%;
    margin: auto;
    display: flex;
    margin-top: 3rem;
}

/* sections vision */


.Vision{
    background-color: #f4f4f4;
    /* margin-bottom: 4rem; */
    padding-bottom: 5rem;
}

.Vision h2{
    margin-top: 3rem;
}

.Vision p{
    /* border: 4px solid green; */
    width: 100%;
    
}

.vision-icon{
    width: 40px;
    height: 40px;
    background-color: #00833E;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    
}


.fusion-wrap{
    width: 500px;
    background-color: #ffffff;
    height: 350px;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-top: 1.5rem;

}

.vision-remix-icon{
    color: #f4f4f4;
    padding:  6px 6px;
    font-size: 28px;
    
}

.second-mision{
    background-color: #F8A400;
}


/* footer */

footer{
    background-color: #F8A400;
    padding: 3rem;
}



.logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.logo-wrap img{
    width: 5%;
    
}

.logo-wrap h2{
    font-family: karam;
    margin-top: 12px;
}


.footer-icon-wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    gap: 1.5rem;
}

.hr-tag{
    width: 100%;
    margin: auto;
    color: rgb(211, 211, 211);
   padding-top: 25px;
   border-top:transparent ;
   border-right:transparent ;
   border-left:transparent ;
   
    
}

@media only screen and (max-width: 768px) {
/* tablets */
}

@media only screen and (min-width: 768px) {
/* mobiles */
}